* {
  padding: 0px;
  margin: 0px
}
.css-1lqfl60-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 40px !important;
  height:40px;
  box-shadow: none !important;

}
.css-1lqfl60-MuiButtonBase-root-MuiAccordionSummary-root{
  min-height: 40px !important;
  height:40px;
  margin-top: 20px !important;
/* box-shadow: 0 0 0 0 !important; */
border-bottom: none !important;
box-shadow: none !important;

}



@tailwind base;
@tailwind components;
@tailwind utilities;


/* Mobile */
@media (max-width:600px) {
.app {
  padding: 14px;
  
}
}

/* Tablet */
@media (min-width:600px) {
  .app {
      padding: 20px;
  }
}

/* Desktop */
@media (min-width:900px) {
  .app{
    padding: 10px 15vw 0 15vw;
  }
}